---
interface Props {
  url: string;
}

const { url } = Astro.props;

async function getMetadata(url: string) {
  try {
    const response = await fetch(url);
    const html = await response.text();

    // Extract title
    const titleMatch = html.match(/<title>(.*?)<\/title>/i);
    const title = titleMatch ? titleMatch[1] : "";

    // Extract meta description
    const descriptionMatch = html.match(
      /<meta[^>]*name="description"[^>]*content="([^"]*)"[^>]*>/i
    );
    const description = descriptionMatch ? descriptionMatch[1] : "";

    // Extract OG image
    const ogImageMatch = html.match(
      /<meta[^>]*property="og:image"[^>]*content="([^"]*)"[^>]*>/i
    );
    const image = ogImageMatch ? ogImageMatch[1] : "";

    return { title, description, image };
  } catch (error) {
    console.error("Error fetching metadata:", error);
    return { title: "", description: "", image: "" };
  }
}

const metadata = await getMetadata(url);
---

<a
  href={url}
  target="_blank"
  rel="noopener noreferrer"
  class="_card flex flex-row border border-border rounded-radius my-2 p-0 text-text-secondary! bg-background-elevated/20! hover:text-text-primary! hover:bg-background-elevated/60! h-32 justify-between no-underline!"
>
  <div class="flex flex-col justify-between px-3 py-2 items-start">
    <div class="">
      <p class="text-text-base">{metadata.title || url}</p>
      <p class="_description text-text-muted text-xs">
        {metadata.description}
      </p>
    </div>
    <p class="text-sm">{url}</p>
  </div>
  {
    metadata.image && (
      <div class="hidden lg:flex flex-col overflow-hidden rounded-radius">
        <img
          src={metadata.image}
          alt={metadata.title}
          class="h-full w-auto object-cover"
          loading="lazy"
        />
      </div>
    )
  }
</a>
