---
import { Image } from "astro:assets";
import type { ProjectData } from "@/lib/types";
import { Icon } from "astro-icon/components";
const {
  title,
  description,
  altDescription,
  pubDatetime,
  modDatetime,
  tags,
  githubRepo,
  documentation,
  featured,
  draft,
  cover,
  coverAlt,
} = Astro.props as ProjectData;
---

<div class="flex flex-col w-full">
  <div class="">
    <h1 transition:name={title}>{title}</h1>
    {/* @ts-ignore */}
    <Image
      src={cover}
      alt={coverAlt}
      class="lg:aspect-[3/1] object-cover rounded-radius w-full my-6"
      transition:name=`${title}image`
    />
    <div class="prose my-8">
      <slot />
    </div>
  </div>
</div>
