---
import { Image } from "astro:assets";
import type { ArticleProps } from "@/lib/types";
import Button from "@/components/ui/Button.astro";

export interface ArticleCardProps {
  post: ArticleProps;
}

const { post } = Astro.props as ArticleCardProps;
---

<div
  class="group px-6 py-4 border border-transparent rounded-radius bg-background-surface/30 text-primary-foreground shadow hover:bg-background-surface/50 transition-all ease-in-out duration-300"
>
  <div class="flex flex-row justify-between gap-4">
    <div class="lg:w-2/3">
      <a href={`/article/${post.id}/`} class="">
        <h4 class="text-pretty" transition:name={post.data.title}>
          {post.data.title}
        </h4>
        <p class="text-text-muted">{post.data.description}</p>
      </a>
      <div class="flex flex-wrap flex-row gap-2 pt-4">
        {
          post.data.tags.map((tag) => (
            <div class="">
              <a href={`/article/${tag}/`} class="text-background-base">
                <Button variant="secondary" size="sm">
                  {tag}
                </Button>
              </a>
            </div>
          ))
        }
      </div>
    </div>
    <div class="hidden lg:flex flex-col gap-4 justify-center lg:w-1/3">
      {/* @ts-ignore */}
      <Image
        src={post.data.cover}
        alt={post.data.coverAlt}
        class="lg:aspect-[2/1] object-cover rounded-radius w-full"
        transition:name=`${post.data.title}image`
      />
    </div>
  </div>
</div>
