---
import { Image } from "astro:assets";
import type { ArticlePostLayoutProps } from "@/lib/types";
const {
  author,
  pubDatetime,
  modDatetime,
  title,
  featured,
  draft,
  category,
  tags,
  description,
  cover,
  coverAlt,
  headings,
} = Astro.props as ArticlePostLayoutProps;
---

<div class="flex flex-col w-full">
  <div class="flex flex-col">
    <h1 transition:name={title} class="special-text text-center">{title}</h1>
    {/* @ts-ignore */}
    <Image
      src={cover}
      alt={coverAlt}
      class="lg:aspect-[3/1] object-cover rounded-radius w-full my-8"
      transition:name=`${title}image`
    />
    <div class="prose my-8">
      <slot />
    </div>
  </div>
</div>
